<div class="heading goal-banner indicator goal-{{ page.goal.number }}">
  <div class="container">
    <div class="row">
      {% unless page.indicator.standalone %}
      <div class="col-4 col-md-3 col-lg-2 goal-icon goal-tiles">
        <a href="{{ page.goal.url }}" title="{{ page.t.indicator.view_indicator_list }}">
          <img src="{{ page.goal.icon }}"
              alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}"
              id="goal-{{ page.goal.number }}"
              class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
        </a>
      </div>
      <div class="col-8 col-md-9 col-lg-10 indicator-details">
      {% else %}
      <div class="col-12 indicator-details">
      {% endunless %}
        <div>
          <h1>
            {% unless page.indicator.standalone %}
              <h1 class="titles goal-{{ page.goal.number }}" {% if page.indicator.dialogue == "old" or page.indicator.dialogue == "deleted" %} style="color: grey" {% endif %}>
                {% unless page.indicator.standalone %}
                {{ page.t.general.indicator }} {{ page.indicator.indicator_display }}
                {% endunless %}
                <span class="lead-copy">{{ page.indicator.indicator_name }}</span>

                  {% if page.indicator.dialogue == "new" %}
                     <br> <i class="fa fa-plus" style="margin-top:10px"></i> Neuer Indikator
                  {% elsif page.indicator.dialogue == "revised" %}
                     <br> <i class="fa fa-wrench" style="margin-top:10px"></i> Überarbeiteter Indikator
                  {% elsif page.indicator.dialogue == "target" %}
                    <br> <i class="fa fa-bullseye" style="margin-top:10px"></i> Neues Ziel
                  {% elsif page.indicator.dialogue == "old" %}
                    <br> <i class="fa fa-times" style="margin-top:10px"></i> Keine Änderungen
                  {% elsif page.indicator.dialogue == "deleted" %}
                    <br> <i class="fa fa-trash" style="margin-top:10px"></i> Nicht mehr im Set enthalten
                  {% elsif page.indicator.dialogue == "revised_and_target" %}
                    <br> <i class="fa fa-wrench" style="margin-top:10px"></i> <i class="fa fa-bullseye" style="margin-top:10px"></i> Überarbeiteter Indikator und neues Ziel
                  {% endif %}
              </h1>
            {% endunless %}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
