<ul class="nav nav-tabs" role="tablist">
    {% if site.metadata_tabs and site.metadata_tabs.size > 0 %}
    {% for tab in site.metadata_tabs %}
        {% if tab.scope %}
            {% assign tab_key = tab.scope %}
            {% assign tab_obj = tab %}
        {% endif %}
        {% if tab_key == 'national' and page.indicator.dialogue == 'new' %}
            {% unless page.indicator.indicator == '12.3.abc' %}
              {% continue %}
            {% endunless %}
        {% elsif tab_key == 'proposal' and page.indicator.dialogue == 'old' %}
            {% continue %}
        {% elsif tab_key == 'proposal' and page.indicator.dialogue == 'deleted' %}
            {% continue %}
        {% else %}
          {% assign tab_preset = "tab_meta_" | append: tab_key %}
          {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
          <li role="presentation" class="nav-item">
              <button
                  type="button"
                  class="nav-link {% if forloop.first %}active{% endif %} "
                  data-bs-toggle="tab"
                  id="tab-{{ tab_key }}"
                  data-bs-target="#{{ tab_key }}"
                  aria-controls="{{ tab_key }}"
                  role="tab"
                  {% include autotrack.html preset=tab_preset category="Tab change" action="Change metadata view" label=tab_label %}
                  {% if tab_key == 'proposal' %}style="color: #{{ page.indicator.color}}; font-weight: bold;"{% endif %}
                  >{{ tab_obj.title | t }}</button>
          </li>
        {% endif %}
    {% endfor %}
    {% else %}
        {% include components/indicator/metadata-tabs-default.html %}
    {% endif %}
</ul>
