{% if page.language == 'de' %}
  {% assign language = '' %}
{% else %}
  {% assign language = page.language | append: '/' %}
{% endif %}

{% if site.environment == 'staging' %}
  {% assign baseurl = 'https://dialogfassungdns.github.io/site' %}
{% else %}
  {% assign baseurl = 'https://dns-indikatoren-dialogfassung.github.io' %}
{% endif %}

<!---Indicator page-->
<!---3 Btns if there is a corresponding Indicator-->

<div class="container" id="navigationbuttons">
  <div class="row justify-content-around">


    <div class="col-sm-4 d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b class="d-sm-none d-lg-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }}</b><b class="d-none d-sm-block d-lg-none"><i class="fa fa-chevron-left" aria-hidden="true"></i></b>
      </a>
    </div>


    <div class="col-sm-4 d-grid gap-2">
      <a href="https://dns-indikatoren.de/" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="Zur DNS" role="button">
        <b class="btn-label d-sm-none d-lg-block">Zur aktuellen DNS</b><b class="btn-label d-none d-sm-block d-lg-none">Aktuelle DNS</b>
      </a>
    </div>

    <div class="col-sm-4 d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b class="btn-label d-sm-none d-lg-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="d-none d-sm-block d-lg-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
      </a>
    </div>
  </div>
</div>
